@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  /* Make it default font */
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --font-inter: "Inter", sans-serif;

  /* =============== COLORS ================= */
  /* Brand */
  --color-primary: #db2777;
  --color-primary-dark: #d91b7e;
  --color-secondary: #0a0f1d;

  /* Text */
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-tertiary: #64748b;
  --color-text-muted: #94a3b8;

  /* Border / Stroke */
  --color-border-primary: #f1f5f9;
  --color-border-secondary: #e5e7eb;

  /* Gradients */
  --color-gradient-text-from: #ff5722;
  --color-gradient-text-via: #d81b7e;
  --color-gradient-text-to: #7c3aed;

  --color-gradient-button-from: #f97316;
  --color-gradient-button-to: #ec4899;
}

html {
  scroll-behavior: smooth;
}
